<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
        <section name="appSettings" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
   	<system.data>
		<DbProviderFactories>
        	<remove invariant="SQLite" />
        	<add name="SQLite Data Provider" 
        		invariant="SQLite" 
        		description=".Net Framework Data Provider for SQLite" 
        		type="Mono.Data.Sqlite.SqliteFactory, Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />
			<!-- <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /> -->
		</DbProviderFactories>
	</system.data>
	<!-- 
	<connectionStrings>
		<add name="Postgres" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=LetMe1n!;Database=musicians;" providerName="Npgsql" />
	</connectionStrings>
	-->
	<appSettings>
      	<add key="platform" value="Unix"/>
		<add key="starterApp" value="xdg-open"/>
		<add key="browserApp" value="x-www-browser"/>
		<add key="helpViewerApp" value="yelp"/>
    </appSettings>
</configuration>
