
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=r7.taskgen
Name[ru_RU]=Генератор заданий TaskGen
GenericName=Task generator
GenericName[ru_RU]=Генератора заданий
Path=/home/student/opt/TaskGen/
Icon=r7.taskgen.svg
Comment=Task generator TaskGen
Comment[ru_RU]=Генератор заданий TaskGen
Categories=Development;Education;
StartupNotify=true
Exec=r7.taskgen
Terminal=false
